[submodule "htmlparser"]
	path = htmlparser
	url = https://github.com/zootreeves/Objective-C-HMTL-Parser.git
[submodule "asihttp"]
	path = asihttp
	url = https://github.com/pokeb/asi-http-request.git
